.onzichtbaar {
	display: none;
}

.header {
	background-image: url(img/28eab60b59128b89febf48ca51bbfcee.jpg);
	height: 120px;
	padding-top: 50px;
}

.about {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 50px;
	background-image: url(img/aboutme.jpg);

}

.work {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	float: left;
	margin-left: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 50px;
	background-image: url(img/mywork.jpg);
}

.social {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	float: left;
	margin-left: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
	background-image: url(img/socialmedia.png);
}

h1 {
	font-family: 'Arizonia', cursive;
	font-size: 65px;
	text-align: center;
	padding: 10px;

}

.kader {
	width: 600px;
	height: 90px;
	background-color: white;
	margin-left: 380px;
}

h2 {
	font-family: 'Arizonia', cursive;
	font-size: 50px;
	color: black;
	text-align: center;
	margin-top: 120px;
	/* text zonder opacity? */

}

button {
	font-family: 'Poiret One', cursive;
	/*margin: 0 auto;*/
	float: left;
	margin-left: 20px;
	position: absolute;
}

h3 {
	font-family: 'Poiret One', cursive;
	font-size: 45px;
	text-align: center; 
	margin-top: 50px;
	margin-bottom: 30px;
}

img {
	float: left;
	margin-left: 130px;
}

p {
	font-family: 'Titillium Web', sans-serif;
}

.text {
	float: right;
	width: 500px;
	margin-right: 235px;
}

h4 {
	font-family: 'Poiret One', cursive;
	font-size: 45px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 55px;

}

h5 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: white;
}
.about:hover { 
	opacity:0.6;
}	

.work:hover { 
	opacity:0.6;
}

.social:hover { 
	opacity:0.6;
}
.hidden {
	display:none;
}

.mywork1:hover { 
	opacity:0.6;
}
.mywork2:hover { 
	opacity:0.6;
}
.mywork3:hover { 
	opacity:0.6;
}
.mywork4:hover { 
	opacity:0.6;
}
.mywork5:hover { 
	opacity:0.6;
}
.mywork6:hover { 
	opacity:0.6;
}
.mywork7:hover { 
	opacity:0.6;
}
.mywork8:hover { 
	opacity:0.4;
}

.about:hover .hidden {
	display:block;
}

.work:hover .hidden {
	display: block;
}

.social:hover .hidden {
	display: block;
}

.mywork1:hover .hidden {
	display: block;
}

.mywork2:hover .hidden {
	display: block;
}

.mywork3:hover .hidden {
	display: block;
}

.mywork4:hover .hidden {
	display: block;
}

.mywork5:hover .hidden {
	display: block;
}

.mywork6:hover .hidden {
	display: block;
}

.mywork7:hover .hidden {
	display: block;
}

.mywork8:hover .hidden {
	display: block;
}
.mywork1 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work1.jpg);
	float: left;
	margin-left: 180px;
	margin-right: 75px;
	margin-bottom: 20px;

}

.mywork2 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work2.jpg);
	float: left;
	margin-right: 75px;
	margin-bottom: 20px;
}

.mywork3 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work3.jpg);
	float: left;
	margin-bottom: 20px;
}

.mywork4 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work4.jpg);
	float: left;
	margin-left: 180px;
	margin-right: 75px;
	margin-bottom: 20px;
}

.mywork5 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work5.jpg);
	float: left;
	margin-right: 75px;
	margin-bottom: 20px;
}

.mywork6 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work6.jpg);
	float: left;
	margin-bottom: 20px;
}

.mywork7 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work7.jpg);
	float: left;
	margin-left: 180px;
	margin-right: 75px;
	margin-bottom: 20px;
}

.mywork8 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/work8.jpg);
	float: left;
	margin-right: 75px;
	margin-bottom: 20px;
}

.mywork9 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: url(img/comming.jpg);
	float: left;
	margin-bottom: 20px;
}